<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Graph</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
</head>
<body>
<canvas id="myChart" width="16" height="9"></canvas>

<script>
  var data;
  var ctx = document.getElementById('myChart').getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      datasets: [
        {
          fill: false,
          pointRadius: 1,
          showLine: false,
          tension: 0,
          data: <%= datasets[0] %>
        },
        {
          fill: false,
          pointRadius: 3,
          showLine: true,
          borderColor: '#ee4444',
          backgroundColor: '#ee4444',
          tension: 0,
          data: <%= datasets[1] %>
        },
        {
          fill: false,
          pointRadius: 0,
          borderColor: 'rgb(0,0,0)',
          borderWidth: 1,
          data: <%= datasets[2] %>
        },
        {
          fill: false,
          pointRadius: 0,
          borderColor: 'rgb(0,0,0)',
          borderWidth: 1,
          data: <%= datasets[3] %>
        },
        {
          fill: false,
          pointRadius: 0,
          borderColor: 'rgb(0,0,0)',
          borderWidth: 1,
          data: <%= datasets[4] %>
        },
      ],
    },
    options: {
      animation: { duration: 0 },
      scales: {
        xAxes: [{ type: 'linear', position: 'bottom' }],
//        yAxes: [{ type: 'linear', ticks: { min: 0.097, max: 0.103 } }],
      },
    },
  });
</script>

</body>
</html>
